body {
  background-image: url('library.jpg');
  background-size: 100%;
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}



p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }

}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.login{
  background-color: #e5d8ba;
  width: 300px;
  left: 500px;
  position: fixed;
  text-align:center;
  border-radius: 15px;
  margin-top: 75px;
  padding: 15px;
  font-family: 'domine', times, serif;
}

.loginbar{
  background-color: #5a3e1f;
  height: 35px;
  margin-top: -8px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 5px;
  padding-left: 15px;
  padding-top: 8px; 
  }


a.loginbar{
  color: #e5d8ba;
  text-decoration:none;

}
a.loginbar:visited{
  color: #e5d8ba;
}

.books{
  background-color: #e5d8ba;
  width: 90%;
  left: 50px;
  position: fixed;
  margin-top: 75px;
  padding: 15px;
  font-family: 'domine', times, serif;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


